### Creating the Databases in My-SQL.

In [1]:
### Create My-SQL Connection.
### Importing Important libraries.

import mysql.connector as sql

connection=sql.connect( host="localhost",
                        user="root",
                        password="hitesh2204")

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000003746F058C8>

### Creating the Databases.

In [2]:
cursor=connection.cursor()

cursor.execute("create database Hitu")

In [3]:
cursor.execute('show databases')

In [4]:
for database in cursor:
    print(database)

('hitu',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

In [5]:
cursor

In [8]:
cursor.execute("create database hitesh")

### Dropping databases.

In [9]:
cursor.execute('drop database hitesh')

In [10]:
for database in cursor:
    print(database)

In [11]:
cursor.execute('drop database Hitu')

In [12]:
for i in cursor:
    print(i)

In [18]:
### creating the student database.
cursor.execute('create database student')

In [17]:
cursor.execute('drop database student')

In [19]:
for i in cursor:
    print(i)