### Creating the table inside Database.

In [1]:
### Create My-SQL Connection.
### Importing Important libraries.

import mysql.connector as sql

connection=sql.connect( host="localhost",
                        user="root",
                        password="hitesh2204",
                        database='student')

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000007CE2744C08>

In [3]:
cursor=connection.cursor()

cursor.execute("drop table studeinfo")

In [4]:

cursor.execute("CREATE TABLE studeinfo(stud_id INT AUTO_INCREMENT PRIMARY KEY,stud_name VARCHAR(100),subject VARCHAR(20))")

### Inserting record into tables.

In [5]:
query="insert into studeinfo(stud_name,subject) values(%s,%s)"
values=("Hitesh","Data Science")
cursor.execute(query,values)
print("Row Inserted",cursor.lastrowid)

Row Inserted 1

In [6]:
### Display the ecord from table.
cursor.execute("select * from studeinfo")

In [7]:
### Fetching all data from student table.
cursor.fetchall()

[(1, 'Hitesh', 'Data Science')]

### Inserting multiple records in Table.

In [8]:
Query="insert into studeinfo(stud_name,subject) values( %s,%s)"
values=[("Virat","Maths"),
        ("Mahi","Economics"),
        ("Palash","Science"),
        ("Sannidhya","Machine Learning"),
        ("Pranay","Deep Leaning")]

cursor.executemany(Query,values)
print("Row Inserted",cursor.lastrowid)

Row Inserted 2

In [10]:
### Fetching all records from student tables.
cursor.execute("select * from studeinfo")
cursor.fetchall()

[(1, 'Hitesh', 'Data Science'),
 (2, 'Virat', 'Maths'),
 (3, 'Mahi', 'Economics'),
 (4, 'Palash', 'Science'),
 (5, 'Sannidhya', 'Machine Learning'),
 (6, 'Pranay', 'Deep Leaning')]

In [12]:
### fetching one record at a time form studnet tables.
cursor.execute("select * from studeinfo")

In [19]:
cursor.fetchone()

In [20]:
### Selecting the perticular rrecords from table.
cursor.execute("select * from studeinfo where stud_name='Hitesh'")

In [21]:
cursor.fetchall()

[(1, 'Hitesh', 'Data Science')]

In [22]:
### Selecting the columns form student table.
cursor.execute("select stud_name from studeinfo")

In [23]:
cursor.fetchall()

[('Hitesh',), ('Virat',), ('Mahi',), ('Palash',), ('Sannidhya',), ('Pranay',)]